{% assign avatar = "/assets/img/" | append: page.handle | append: ".png" %}
{% assign words = content | number_of_words %}
<div class="header">
  <h1 class="title">{{ page.title }}</h1>
  <div class="info">
    <img class="avatar" src="{{ avatar | prepend: site.baseurl }}" alt="{{ page.handle }}"/>
    <div class="author"> {{ page.author }} </div>
    <div class="read_time">
          {{ page.date | date_to_string }} &nbsp;&middot;&nbsp;
          {% if words < 360 %}
            1 min read
          {% else %}
            {{ words | divided_by:180 }} min read
          {% endif %}
    </div>
  </div>
</div>
