@tailwind base;
@tailwind components;

#post-content {
  .highlight {
    @apply my-6;
    @apply rounded-md;
  }

  .highlight pre {
    @apply p-4;
    @apply leading-5;
    @apply overflow-x-auto;
    @apply bg-elixir-900;
  }

  .highlight pre code {
    @apply text-elixir-100;
  }

  code[class^="language"] {
    @apply text-elixir-100;
    @apply bg-elixir-900;
  }

  code {
    @apply inline-block;
    @apply m-0;
    @apply py-0;
    @apply px-1;
    @apply font-semibold;
    @apply text-elixir-100;
    @apply bg-elixir-900;
    @apply rounded-sm;
  }

  code:before {
    content: "" !important;
  }

  code:after {
    content: "" !important;
  }

  figcaption {
    @apply text-elixir-700;
  }

  img {
    @apply block;
    @apply m-0;
    @apply m-auto;
  }

  p {
    @apply text-elixir-900 !important;
  }

  strong {
    @apply text-elixir-900 !important;
  }

  em {
    @apply text-elixir-900 !important;
  }
}

.chapter {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply my-16;
  @apply px-4;
  @apply pb-16;
  @apply relative;
  @apply bg-elixir-900;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

.chapter h2 {
  @apply text-center;
  color: white !important;
  scroll-margin-top: 5rem;
}

.youtube-video {
  @apply flex;
  @apply items-center;
  @apply relative;
  padding-top: 57%;
}

.youtube-video > iframe {
  @apply absolute;
  @apply w-full;
  @apply h-full;
  @apply left-0;
  @apply top-0;
}

/****
 * CV
 ****/

.cv-page-layout {
  @apply mx-auto;
  @apply max-w-screen-md;
}

.cv-link {
  @apply font-semibold;
  @apply text-elixir-700;
}

.cv-link:hover {
  @apply text-elixir-500;
  @apply underline;
}

/**
 * CSS tabs.
 */

.cv-tab-wrap {
  @apply flex;
  @apply flex-wrap;
}

.cv-tab-item {
  @apply hidden;
}

.cv-tab-item:checked + label {
  @apply inline-block;
  @apply px-2;
  @apply py-2;
  @apply font-semibold;
  @apply text-elixir-700;
  @apply border-t;
  @apply border-l;
  @apply border-r;
  @apply rounded-t;
}

.cv-tab-item:checked + label:hover {
  @apply bg-elixir-100;
}

.cv-tab-item + label {
  @apply inline-block;
  @apply px-4;
  @apply py-2;
  @apply mr-1;
  @apply font-semibold;
  @apply text-elixir-500;
}

.cv-tab-item + label:hover {
  @apply text-elixir-700;
  @apply bg-elixir-100;
}

.cv-tab-item:checked:nth-of-type(1) ~ .cv-tab-content:nth-of-type(1) {
  @apply h-full;
  @apply max-h-full;
  @apply opacity-100;
}

.cv-tab-item:checked:nth-of-type(2) ~ .cv-tab-content:nth-of-type(2) {
  @apply h-full;
  @apply max-h-full;
  @apply opacity-100;
}

.cv-tab-item:checked:nth-of-type(3) ~ .cv-tab-content:nth-of-type(3) {
  @apply w-full;
  @apply h-full;
  @apply max-h-full;
  @apply opacity-100;
}

.cv-tab-content {
  @apply h-0;
  @apply overflow-hidden;
  @apply opacity-0;
  @apply transform;
  @apply duration-75;
  @apply ease-in;
  @apply mx-auto;
  @apply max-w-screen-md;
}

/**
 * Card CSS.
 */

.cv-card {
  @apply m-2;
  @apply mt-6;
  @apply overflow-hidden;
  @apply bg-white;
  @apply border;
  @apply rounded-lg;
  @apply shadow-lg;
}

.cv-card:hover {
  @apply scale-x-50;
}

.cv-card-content {
  @apply flex;
  @apply flex-col;
  @apply px-6;
  @apply py-4;
}

.cv-card-content-description {
  @apply h-0;
  @apply pt-2;
  @apply opacity-0;
  @apply transition-all;
  @apply duration-200;
  @apply ease-in-out;
}

.cv-card:hover > .cv-card-content > .cv-card-content-description {
  @apply h-full;
  @apply max-h-full;
  @apply opacity-100;
}

.cv-read-more {
  @apply h-full;
  @apply max-h-full;
  @apply mt-2;
  @apply text-xs;
  @apply font-semibold;
  @apply text-elixir-500;
  @apply underline;
  @apply uppercase;
  @apply opacity-100;
  @apply transition-all;
}

.cv-card:hover > .cv-card-content > .cv-read-more {
  @apply opacity-0;
  @apply h-0;
}

@tailwind utilities;
