language: ruby
rvm:
  - 2.6
install:
  - gem install bundler
  - bundle install
script:
  - bundle exec jekyll build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: gh-pages
  local-dir: _site
  target-branch: master
