{%- comment -%}
  Receives an article.
{%- endcomment -%}
{%- capture preview_image -%}
  {%- include preview_image.html article = include.article -%}
{%- endcapture -%}
<div class="box">
  <img class="box-child box-image"
       alt="{{- include.article.title -}}"
       src="{{- preview_image -}}"/>
  <span class="box-child box-read-time">
    {%- include read_time.html article = include.article -%}
  </span>
  <a class="box-child box-title nav-link-inactive"
     href="{{- include.article.url -}}">
    {{- include.article.title -}}
  </a>
  <span class="box-child box-description">
    {{- include.article.description -}}
  </span>
</div>
