{%- comment -%}
Adds a chapter header.
{%- endcomment -%}
{%- assign chapter_index = chapter_index
  | default: -1
  | plus: 1
-%}
{%- if chapter_index < toc_index -%}
  <div class="chapter">
    <h2 id="{{ chapter_index }}">
      {{ toc_title[chapter_index] }}
    </h2>
    <img class="w-48 md:w-64 h-auto"
         style="filter: invert(100%);"
         src="{{ toc_image[chapter_index] }}"
         alt="{{ toc_title[chapter_index] }}"/>
  </div>
{%- else -%}
  <h2 class="font-bold text-red-500">
    There's no table of contents entry for this chapter
  </h2>
{%- endif -%}
