<span class="by">By <a href="https://github.com/alexdesousa">Alex de Sousa</a></span>
<div class="social">
  <a href="https://github.com/alexdesousa">
    <img class="github"
        src="{{ "/assets/img/github.png" | prepend: page.baseurl }}"
        alt="Github"/>
  </a>
  <a href="https://twitter.com/thebroken_link">
    <img class="twitter"
        src="{{ "/assets/img/twitter.png" | prepend: page.baseurl }}"
        alt="Twitter"/>
  </a>
  <a href="https://stackoverflow.com/users/4776680/alexander-de-sousa?tab=topactivity">
    <img class="stackoverflow"
        src="{{ "/assets/img/stackoverflow.png" | prepend: page.baseurl }}"
        alt="Stack Overflow"/>
  </a>
  <a href="https://www.linkedin.com/in/ajdesousa/">
    <img class="linkedin"
        src="{{ "/assets/img/linkedin.png" | prepend: page.baseurl }}"
        alt="Linked In"/>
  </a>
</div>
