<div class="footer-copyright">
  <span class="by-alex-de-sousa"> Copyright 2020 Alex de Sousa</span>
</div>
<div class="footer-social-media">
  <a href="https://github.com/alexdesousa">
    <img class="social-media github"
        src="{{- "/assets/img/social/github.png" | prepend: page.baseurl -}}"
        alt="Twitter"/>
  </a>
  <a href="https://twitter.com/thebroken_link">
    <img class="social-media twitter"
        src="{{- "/assets/img/social/twitter.png" | prepend: page.baseurl -}}"
        alt="Twitter"/>
  </a>
</div>
