{%- capture preview_image -%}
  {%- include preview_image.html -%}
{%- endcapture -%}
{%- capture author -%}
  {%- include bio/author.html page = page -%}
{%- endcapture -%}
<!-- general -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{- page.description -}}" />
<meta name="robots" content="index, follow">
<meta name="author" content="{{- author -}}" />

<!-- title -->
<title>{{- page.title | append: " | Alex de Sousa Blog" -}}</title>

<!--  canonical -->
<link rel="canonical" href="{{- site.url }}{{ page.id -}}/"/>

<!-- favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#FFFFFF">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="theme-color" content="#FFFFFF">

<!-- Google card -->
<meta itemprop="description" content="{{- page.description -}}" />
<meta itemprop="image" content="{{- preview_image -}}" />

<!-- Facebook card -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Alex de Sousa Blog" />
<meta property="og:title" content="{{- page.title -}}" />
<meta property="og:image" content="{{- preview_image -}}" />
<meta property="og:url" content="{{- site.url | append: page.id | append: "/" -}}" />
<meta property="og:description" content="{{- page.description -}}" />

<!-- Twitter card -->
<meta name="twitter:title" content="{{- page.title -}}" />
<meta name="twitter:description" content="{{- page.description -}}" />
<meta name="twitter:image" content="{{- preview_image -}}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Alex de Sousa Blog">
<meta name="twitter:site" content="@thebroken_link">

<!-- styles -->
{%- if page.handle -%}
<link rel="stylesheet"
      href="{{- "/assets/css/article.css?version=20191116"
                | prepend: site.baseurl -}}">
{%- else -%}
<link rel="stylesheet"
      href="{{- "/assets/css/default.css?version=20191116"
                | prepend: site.baseurl -}}">
{%- endif -%}

<!-- metadata -->
{%- include metadata.html -%}
{%- include google_analytics.html -%}
<script type="text/javascript" src="/assets/js/app.js"></script>
