<div class="brand">
  <img class="brand image" src="/assets/img/preview.png" alt="Social Media Preview"/>
  <ul>
    <li>
      Logo font: <span style="font-family: Neuropolitical;">Neuropolitical</span>
    </li>
    <li>
      Website font: <span style="font-family: Helvetica;">Helvetica</span>
    </li>
    <li>
      Brand colors:
      <ul>
        <li class="brand color">
          <span class="brand square"
                style="color: #FFF; background-color: #000;">
            rgb(000, 000, 000)
          </span>
        </li>
        <li class="brand color">
          <span class="brand square"
                style="color: #FFF; background-color: #333;">
            rgb(051, 051, 051)
          </span>
        </li>
        <li class="brand color">
          <span class="brand square"
                style="color: #FFF; background-color: #666;">
            rgb(102, 102, 102)
          </span>
        </li>
        <li class="brand color">
          <span class="brand square"
                style="color: #000; background-color: #999;">
            rgb(153, 153, 153)
          </span>
        </li>
        <li class="brand color">
          <span class="brand square"
                style="color: #000; background-color: #FFF; border: 0.5px black solid">
            rgb(255, 255, 255)
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
