<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  },
  "headline": "{{ page.title }}",
  "image": [
    "https://example.com/photos/1x1/photo.jpg",
    "https://example.com/photos/4x3/photo.jpg",
    "https://example.com/photos/16x9/photo.jpg"
   ],
  "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "dateModified": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "The Broken Link"
    "logo": {
      "@type": "ImageObject",
      "url": "https://thebroken.link/assets/img/logo.png"
    }
  },
  "description": "{{ page.description }}
}
</script>
