{%- capture author -%}
  {%- include bio/author.html page = page -%}
{%- endcapture -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{- page.url
                | replace: 'index.html', ''
                | prepend: site.baseurl
                | prepend: site.url -}}"
  },
  "headline": "{{- page.title -}}",
  "image": [
    "{{- site.url | append: "/assets/img/logo.png" -}}"
   ],
  "datePublished": "{%- if page.date -%}
    {{- page.date | date_to_xmlschema -}}
  {%- else -%}
    {{- site.time | date_to_xmlschema -}}
  {%- endif -%}",
  "dateModified": "{%- if page.date -%}
    {{- page.date | date_to_xmlschema -}}
  {%- else -%}
    {{- site.time | date_to_xmlschema -}}
  {%- endif -%}",
  "author": {
    "@type": "Person",
    "name": "{{- author -}}"
  },
  "description": "{{- page.description -}}"
}
</script>
