{%- comment -%}
  Receives a sound cloud.
{%- endcomment -%}
{%- assign sc_base = "https://w.soundcloud.com/player/?"
    | append: "url=https%3A//api.soundcloud.com/tracks/"
-%}
{%- assign sc_options = "&color=%231088a0"
    | append: "&auto_play=false"
    | append: "&hide_related=false"
    | append: "&show_comments=true"
    | append: "&show_user=true"
    | append: "&show_reposts=false"
    | append: "&show_teaser=true"
    | append: "&visual=true"
-%}
{%- if page.soundcloud -%}
  {%- assign sc_url = sc_base
      | append: page.soundcloud
      | append: sc_options
  -%}
<p>
  <i>
    If you prefer, you can also listen to the audio version of this article:
  </i>
</p>
<p>
  <iframe width="100%"
          height="166"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="{{- sc_url -}}">
  </iframe>
</p>
{%- endif -%}
