{%- comment-%}
Table of contents.

Options:
  - title: Chapter title.
  - prefix: Chapter title prefix.
  - is_decimal: Whether it should use decimal numeral for chapter number or not.
  - image: Chapter header image.
{%- endcomment -%}

{%- comment -%}
Globals
{%- endcomment -%}
{%- assign toc_index = toc_index
    | default: 0
    | plus: 1
-%}

{%- comment -%}
Chapter image.
{%- endcomment -%}
{%- assign image = include.image
    | default: "/assets/images/chapter.png"
-%}

{%- if toc_image -%}
  {%- assign image = image | split: "|" -%}
  {%- assign toc_image = toc_image | concat: image -%}
{%- else -%}
  {%- assign toc_image = image | split: "|" -%}
{%- endif -%}

{%- comment -%}
Number creation.
{%- endcomment -%}
{%- assign number = toc_index -%}
{%- if include.is_decimal -%}
{%- else -%}
  {%- assign number = number | roman -%}
{%- endif -%}

{%- comment -%}
Prefix creation.
{%- endcomment -%}

{%- if include.prefix -%}
  {%- assign prefix = include.prefix -%}
{%- else -%}
  {%- assign prefix = site.data.defaults.t[page.lang].chapter_prefix
      | append: " "
      | append: number
      -%}
{%- endif -%}

{%- comment -%}
Reference creation.
{%- endcomment -%}

{%- assign ref = include.title | default: prefix -%}

{%- comment -%}
Title creation.
{%- endcomment -%}
{%- if include.title and prefix != "" -%}
  {%- assign title = prefix
      | append: ": "
      | append: include.title
  -%}
{%- elsif include.title -%}
  {%- assign title = include.title -%}
{%- elsif prefix != "" -%}
  {%- assign title = prefix -%}
{%- else -%}
  {%- assign title = "Missing title: add prefix or title options" -%}
{%- endif -%}

{%- if toc_ref -%}
  {%- assign ref = ref | split: "|" -%}
  {%- assign toc_ref = toc_ref | concat: ref -%}
{%- else -%}
  {%- assign toc_ref = ref | split: "|" -%}
{%- endif -%}

{%- if toc_title -%}
  {%- assign title = title | split: "|" -%}
  {%- assign toc_title = toc_title | concat: title -%}
{%- else -%}
  {%- assign toc_title = title | split: "|" -%}
{%- endif -%}
- [{{title}}](#{{ toc_index | minus: 1 }})
