{%- assign swatch = site.data.defaults.swatch | default: "sea-blue" -%}
<header class="cv-page-layout">
  <h1>
    <div class="flex flex-row justify-between">
      <div class="flex justify-center w-32 bg-{{- swatch -}}-700">
        <div class="self-start p-2 md:self-end w-34">
          <span class="z-40 text-4xl font-black text-center text-white">Hello,</span>
        </div>
      </div>
      <div class="flex flex-row px-4 py-6 font-medium">
        <div class="self-end text-xl">
          <p>My name is {{ include.name }}</p>
          <p>And this is <span class="text-gray-500 line-through">my curriculum vitae;</span></p>
          <p><span class="p-2 font-bold text-white bg-{{- swatch -}}-700">my story...</span></p>
        </div>
      </div>
    </div>
  </h1>
</header>
