{%- include cv/job.html data = site.data.cv.contractbook -%}
{%- include cv/job.html data = site.data.cv.asolvi -%}
{%- include cv/job.html data = site.data.cv.derivco -%}
{%- include cv/job.html data = site.data.cv.1bitcloud -%}
{%- include cv/job.html data = site.data.cv.gmtprime_remote -%}
{%- include cv/job.html data = site.data.cv.upc -%}
{%- include cv/job.html data = site.data.cv.barcelona -%}
{%- include cv/job.html data = site.data.cv.gmtprime_onsite -%}
{%- include cv/job.html data = site.data.cv.usb -%}
