{%- comment -%}
Displays Facebook card meta tags.

Options
  - lang: Page language.
  - preview_image: Image preview in card.
  - title: Page title.
  - description: Page description.
{%- endcomment -%}
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{- site.data.defaults.t[include.lang].blog_name -}}" />
<meta property="og:title" content="{{- include.title -}}" />
<meta property="og:image" content="{{- site.url | append: include.preview_image -}}" />
<meta property="og:url" content="{{- site.url | append: page.id | append: "/" -}}" />
<meta property="og:description" content="{{- include.description -}}" />
