{%- comment -%}
Displays Google analytics scripts.
{%- endcomment -%}
{%- if site.url != "http://localhost:4000" -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{- site.data.defaults.analytics.id -}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{- site.data.defaults.analytics.id -}}', {'anonymize_ip':true});
</script>
{%- endif -%}
