{%- comment -%}
Displays Twitter card meta tags.

Options
  - preview_image: Image preview in card.
  - title: Page title.
  - description: Page description.
{%- endcomment -%}
<meta name="twitter:title" content="{{- include.title -}}"/>
<meta name="twitter:description" content="{{- include.description -}}" />
<meta name="twitter:image" content="{{- site.url | append: include.preview_image -}}" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image:alt" content="{{- include.description -}}"/>
<meta name="twitter:site" content="@{{- site.data.defaults.twitter_handle -}}">
