:root {
  --deep-blue: rgb(4, 79, 100);
  --shore-blue: rgb(16, 136, 160);
  --sky-blue: rgb(120, 178, 196);
  --sand: rgb(248, 218, 180);

  --deep-gray: rgb(53, 53, 53);
  --shore-gray: rgb(83, 83, 83);
  --sky-gray: rgb(153, 153, 153);

  --shadow-blue: rgba(4, 79, 100, 1);
  --shadow-gray: rgba(153, 153, 153, 1);

  --font-blue: rgb(12, 24, 40);
  --font-gray: rgb(48, 48, 48);

  --code-background: #272822;

  --header-height: 80px;
  --footer-height: 50px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  line-height: 1.6;
  font-family: Helvetica;
  font-size: 18px;
  color: var(--font-blue);
  scroll-padding: 140px;
}

/*
 * Code layout
 **************/

.highlight {
  margin: 0;
}

.highlight pre {
  border-radius: 5px;
  padding: 20px;
  line-height: 1.2;
}.highlight pre {
  background-color: #272822;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  line-height: 1.2;
}
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
/* Page layout
 **************/

.page {
  display: grid;
  max-width: 100%;
  min-height: 100%;
  position: relative;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .page {
    grid-template-columns: auto 710px auto;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .page {
    grid-template-columns: auto 95vw auto;
  }
}

.page a {
  color: var(--shore-blue);
}

.page a:hover {
  color: var(--deep-blue);
}

/* Navigation layout
 ********************/

.navigation {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  background-color: white;
  box-shadow: 0px 1px 4px 0px var(--shadow-gray);
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .navigation {
    display: grid;
    grid-template-columns: auto 110px 600px auto;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .navigation {
    display: grid;
    grid-template-columns: auto 111px 1fr auto;
  }
}

.navigation-logo {
  grid-column: 2;
  justify-self: start;
  align-self: center;
}

.navigation-bar {
  grid-column: 3;
  justify-self: end;
  align-self: center;
}

/* Navigation components
 ************************/

.logo-image {
  margin: 0px;
  width: 100%;
  height: 50px;
}

.nav-link-inactive {
  color: var(--shore-blue) !important;
  text-decoration: none !important;
  font-size: 20px !important;
  padding: 5px;
}

.nav-link-inactive:hover {
  color: var(--deep-blue) !important;
  text-decoration: underline !important;
}

.nav-link-active {
  color: var(--deep-blue) !important;
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 20px !important;
  padding: 5px;
}

/* Content layout
 *****************/

.content {
  padding: 0px;
  padding-right: 15px;
  padding-left: 15px;
  justify-self: center;
  align-self: center;
}

.article {
  display: grid;
  grid-template-rows: auto;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .content {
    width: 710px;
  }

  .article {
    grid-template-columns: 710px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .content {
    width: 95vw;
  }

  .article {
    grid-template-columns: 95vw;
  }
}

.article blockquote {
  margin: 25px 0px 25px 25px;
  padding-left: 10px;
  border-left: 3px solid var(--shore-blue);

  color: var(--shore-gray);
}

.article pre {
  margin: 0;
  white-space: pre;
  overflow-x: auto;
}

.article code {
  color: white;
  background-color: var(--code-background);
  padding: 4px 5px 4px 5px;
  border-radius: 3px;
  font-size: 15px;
}

/* Title layout
 ***************/

.title {
  margin: 6px 0px 0px 0px;
  font-family: Helvetica;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .title {
    font-size: 42px !important;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .title {
    font-size: 30px !important;
  }
}

/* Horizontal line
 ****************/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--deep-blue);
  padding: 0;
  margin: 1em 0;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  hr {
    width: 710px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  hr {
    width: 95vw;
  }
}

/* Article box
 **************/

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;

  padding-top: 30px;
}

.box {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 120px;
  grid-row-gap: 15px;

  align-items: center;
  justify-items: center;

  width: 300px;
  margin: 10px;
  padding-bottom: 20px;
  border-radius: 3px;

  line-height: 1;

  box-shadow: 0px 1px 4px 0px var(--shadow-gray);
}

.box-child:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.box-child:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.box-child:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.box-child:nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}

/* Article list components
 **************************/

.box-image {
  width: 300px;
  height: 120px;
  background: white;
  object-fit: cover;
  border-radius: 3px;
  margin: 0;
}

.box-title {
  width: 260px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 16px !important;
}

.box-description {
  width: 260px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 15px !important;
}

.box-read-time {
  color: var(--shore-gray);
  width: 260px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 15px !important;
}

/* Footer layout
 ****************/

.footer {
  display: grid;
  grid-column-gap: 5px;

  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;

  position: absolute;
  bottom: 0;

  background-color: var(--deep-blue);
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: auto 555px 185px auto;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: grid;
    grid-template-columns: auto 1.5fr 0.5fr auto;
  }
}

.footer-copyright {
  grid-column: 2;
  align-self: center;
  justify-self: start;
}

.footer-social-media {
  grid-column: 3;
  align-self: center;
  justify-self: end;

  display: grid;
  grid-template-columns: 30px 30px;/* 30px; */
  grid-column-gap: 10px;
}

.twitter {
  grid-column: 1;
}

.instagram {
  grid-column: 2;
}

.linkedin {
  grid-column: 3;
}

/* Footer components
 ********************/

.by-alex-de-sousa {
  font-size: 15px;
  color: white;
}

.social-media {
  width: 30px;
  height: 30px;
  text-decoration: none;
}/* Page layout
 **************/

.page {
  grid-template-rows: var(--header-height) 1fr auto var(--footer-height);
}

/* Navigation layout
 ********************/

.navigation {
  grid-columns: 1 / 3;
  grid-row: 1;
}

/* Content layout
 *****************/

.content {
  grid-column: 2;
  grid-row: 2;

  align-self: start;
  padding-bottom: 20px;
}

/* Boxes
 *********/

.article-list {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  justify-self: center;

  margin: 0;
  margin-bottom: 100px;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 1000px) {
  .boxes {
    width: 980px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 999px) {
  .boxes {
    width: 95vw;
  }
}

/* Footer layout
 ****************/

.footer {
  grid-row: 3;
}
/* Page layout
 **************/

.page {
  grid-template-rows: var(--header-height) 1fr auto var(--footer-height);
}

/* Navigation layout
 ********************/

.navigation {
  grid-columns: 1 / 3;
  grid-row: 1;
}

/* Content layout
 *****************/

.content {
  grid-column: 2;
  grid-row: 2;

  align-self: start;
  padding-bottom: 20px;
}

/* Boxes
 *********/

.article-list {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  justify-self: center;

  margin: 0;
  margin-bottom: 100px;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 1000px) {
  .boxes {
    width: 980px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 999px) {
  .boxes {
    width: 95vw;
  }
}

/* Footer layout
 ****************/

.footer {
  grid-row: 3;
}
