html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  line-height: 1.6;
  font-family: Helvetica;
  font-size: 18px;
}

/* Code layout
 **************/

/* Page layout
 **************/

.page {
  max-width: 100%;
  min-height: 100%;
  position: relative;
}

.page a {
  color: rgb(102, 102, 102);
}

.page a:hover {
  color: black;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .page {
    display: grid;
    grid-template-columns: auto 760px auto;
    grid-template-rows: auto 1fr auto;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .page {
    display: grid;
    grid-template-columns: auto 100vw auto;
    grid-template-rows: auto 1fr auto;
  }
}

/* Navigation layout
 ********************/

.navigation {
  grid-columns: 1 / 3;
  grid-row: 1;

  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  background-color: white;
  box-shadow: 0px 1px 4px 0px rgba(153,153,153,1);
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .navigation {
    display: grid;
    grid-template-columns: auto 50px 710px auto;
    grid-column-gap: 15px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .navigation {
    display: grid;
    grid-template-columns: auto 50px 1fr auto;
    grid-column-gap: 15px;
  }
}

.navigation-logo {
  grid-column: 2;
  justify-self: center;
  align-self: center;
}

.navigation-bar {
  grid-column: 3;
  justify-self: start;
  align-self: center;
}

/* Navigation components
 ************************/

.logo-image {
  margin: 0px;
  width: 50px;
  height: 50px;
}

.nav-link-inactive {
  color: rgb(102, 102, 102) !important;
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 20px !important;
  padding: 5px;
}

.nav-link-inactive:hover {
  text-decoration: underline !important;
}

.nav-link-active {
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 20px !important;
  padding: 5px;
}

/* Content layout
 *****************/

.content {
  grid-column: 2;
  grid-row: 2;

  justify-self: center;
  align-self: center;

  padding-top: 120px;
  padding-bottom: 120px;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .content article {
    width: 740px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .content article {
    width: 95vw;
  }
}

.content blockquote {
  padding-left: 10px;
  border-left: 3px solid black;
  align: left;

  color: rgb(102, 102, 102);
}

.content pre {
  white-space: pre;
  overflow-x: auto;
}

.content code {
  color: white;
  background-color: rgb(37, 40, 34);
  padding: 4px 5px 4px 5px;
  border-radius: 3px;
  font-size: 15px;
}

/* Title layout
 ***************/

.title {
  margin: 6px 0px 0px 0px;
  font-family: Helvetica;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .title {
    font-size: 42px !important;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .title {
    font-size: 30px !important;
  }
}

/* Header layout
 ****************/

.header {
  margin: 0 auto;
}

.header-info {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 25px 25px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.header-info-child:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 2;
}

.header-info-child:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.header-info-child:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

/* Header components
 ********************/

.avatar {
  margin: 0px;
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

.author {
  align: left;
  width: 100%;
  height: 100%;

  color: #999999;
  font-size: 17px !important;
  font-family: Helvetica;
}

.read-time {
  align: left;
  width: 100%;
  height: 100%;

  color: rgb(102, 102, 102);
  font-size: 15px;
  font-family: Helvetica;
}

/* Footer layout
 ****************/

.footer {
  grid-row: 3;

  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  position: absolute;
  bottom: 0;

  background-color: rgb(51, 51, 51);
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: auto 370px 370px auto;
    grid-column-gap: 5px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-column-gap: 5px;
  }
}

.footer-copyright {
  grid-column: 2;
  align-self: center;
  justify-self: start;
}

.footer-social-media {
  grid-column: 3;
  align-self: center;
  justify-self: end;

  display: grid;
  grid-template-columns: 30px 30px 30px 30px;
  grid-column-gap: 10px;
}

.github {
  grid-column: 1;
}

.twitter {
  grid-column: 2;
}

.stackoverflow {
  grid-column: 3;
}

.linkedin {
  grid-column: 4;
}

/* Footer components
 ********************/

.by-alex {
  font-size: 15px;
  color: white;
}

.social-media {
  width: 30px;
  height: 30px;
  text-decoration: none;
}

/* Brand layout
 ***************/

.brand .color {
  line-height: 2;
  font-weight: bold;
}

.brand .square {
  padding: 5px;
  margin: 0 auto;
  height: 20px;

  border-radius: 3px;
}

.brand .image {
  height: 100%;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .brand .image {
    width: 700px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .brand .image {
    width: 95vw;
  }
}

/* Article list layout
 **********************/

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  padding-top: 30px;
}

/**
 * @device Tablets (portrait), laptops, desktops.
 * @screen 768px to higher resolution.
 */
@media (min-width: 768px) {
  .boxes {
    width: 760px;
  }
}

/**
 * @device Low resolution tables and mobiles (landscape).
 * @screen 320px to 767px.
 */
@media (min-width: 320px) and (max-width: 767px) {
  .boxes {
    width: 95vw;
  }
}

.box {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 120px;
  grid-row-gap: 20px;

  align-items: center;
  justify-items: center;

  width: 300px;
  margin: 10px;
  padding-bottom: 20px;
  border-radius: 3px;

  line-height: 1.3;

  box-shadow: 0px 1px 4px 0px rgba(153,153,153,1);
}

.box-child:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.box-child:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.box-child:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.box-child:nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}

/* Article list components
 **************************/

.box-image {
  width: 300px;
  height: 120px;
  background: #999999;
  object-fit: cover;
  border-radius: 3px;
  margin: 0;
}

.box-title {
  padding-right: 20px;
  padding-left: 20px;

  font-size: 18px !important;
}

.box-description {
  padding-right: 20px;
  padding-left: 20px;

  font-size: 16px;
}

.box-read-time {
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
}
