@import url(pygments/monokai.css);

/******************************************************************************
 * Code layout
 */

pre {
  white-space: pre;
  overflow-x: auto;
}

code {
  color: #FFFFFF;
  background-color: #272822;
  padding: 4px 5px 4px 5px;
  border-radius: 3px;
  font-size: 15px;
}

/******************************************************************************
 * Page Layout.
 */

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  line-height: 1.6;
  font-family: Helvetica;
  font-size: 18px;
}

.page a {
  color: #666666;
}

.page a:hover {
  color: black;
}

/******************************************************************************
 * Navigation layout
 */

.navigation {
  display: grid;
  grid-template-columns: 1fr 50px 710px 1fr;
  grid-column-gap: 15px;
  border-bottom: 1px solid #999999;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
  font-weight: bold;
}

.navigation .logo {
  grid-column: 2;
  align-self: center;
  margin: 0px;
  width: 50px;
  height: 50px;
}

.navigation nav {
  grid-column: 3;
  align-self: center;
}

.navigation .active {
  color: black;
  text-decoration: none;
}

.navigation a {
  padding: 5px;
  color: #666666;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

/******************************************************************************
 * Header layout
 */

.header {
  grid-column: 3 / 5;
  margin: 0 auto;
  width: 100%;
  max-width: 760;
  padding-top: 90px;
}

.title {
  font-size: 42px;
  font-family: Helvetica;
  margin: 6px 0px 0px 0px;
}

.info {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px 25px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar {
  grid-column: 1;
  grid-row: 1 / 2;
  margin: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author {
  grid-row: 1;
  grid-column: 2;
  align: left;
  width: 100%;
  height: 100%;
  color: #999999;
  font-size: 17px;
  font-family: Helvetica;
}

.read_time {
  grid-row: 2;
  grid-column: 2;
  align: left;
  width: 100%;
  height: 100%;
  color: #666666;
  font-size: 15px;
  font-family: Helvetica;
}

/******************************************************************************
 * Content layout
 */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
  padding-bottom: 90px;
}

.content > * {
  grid-column: 4;
}

.content blockquote {
  grid-column: 3 / 5;
  padding-left: 10px;
  border-left: 3px solid black;
  align: left;
  color: #666666;
}

/******************************************************************************
 * Logo layout
 */

.brand .color {
  line-height: 1.8;
  font-weight: bold;
}

.brand .square {
  margin: 0 auto;
  height: 20px;
  border-radius: 7%;
  padding: 2px;
}

.brand .image {
  width: 700px;
  height: 100%;
  padding: 20px;
}

/******************************************************************************
 * Article footer.
 */

.more {
  grid-column: 3 / 5;
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  grid-column-gap: 50px;
  border-top: 1px solid #999999;
  padding: 20px;
}

.previous {
  grid-column: 2;
  grid-template-rows: 150px auto;
  align-self: center;
  justify-self: end;
  padding: 20px;
  width: 200px;
  width: 100%;
  text-align: center;
}

.next {
  grid-column: 3;
  grid-template-rows: auto auto;
  align-self: center;
  justify-self: start;
  padding: 20px;
  width: 200px;
  width: 100%;
  text-align: center;
}

.preview_image {
  grid-row: 1;
  width: 150px;
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 6px 10px 5px 0px rgba(153,153,153,1);
}

.preview_title {
  grid-row: 2;
  padding-top: 20px;
  line-height: 1;
}

/******************************************************************************
 * Footer layout.
 */

.footer {
  display: grid;
  grid-template-columns: 1fr 380px 380px 1fr;
  grid-row-gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.social {
  grid-column: 3;
  align-self: center;
  justify-self: end;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px;
  grid-column-gap: 10px;
}

.github {
  grid-column: 1;
  width: 30px;
  height: 30px;
}

.twitter {
  grid-column: 2;
  width: 30px;
  height: 30px;
}

.stackoverflow {
  grid-column: 3;
  width: 30px;
  height: 30px;
}

.linkedin {
  grid-column: 4;
  width: 30px;
  height: 30px;
}
