@import url(pygments/monokai.css);

/******************************************************************************
 * Code layout
 */

pre {
  white-space: pre;
  overflow-x: auto;
}

code {
  color: #FFFFFF;
  background-color: #272822;
  padding: 4px 5px 4px 5px;
  border-radius: 3px;
  font-size: 15px;
}

/******************************************************************************
 * Page Layout.
 */

.page {
  display: grid;
  grid-template-rows: auto 1fr 50px;
  line-height: 1.6;
  font-family: Helvetica;
  font-size: 18px;
}

.page a {
  color: #666666;
}

.page a:hover {
  color: black;
}

/******************************************************************************
 * Navigation layout
 */

.navigation {
  display: grid;
  grid-template-columns: 1fr 50px 710px 1fr;
  grid-column-gap: 15px;
  border-bottom: 1px solid #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: white;
}

.navigation .logo {
  grid-column: 2;
  align-self: center;
  margin: 0px;
  width: 50px;
  height: 50px;
}

.navigation nav {
  grid-column: 3;
  align-self: center;
}

.navigation .active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.navigation a {
  padding: 5px;
  color: #666666;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

/******************************************************************************
 * Header layout
 */

.header {
  grid-column: 3 / 5;
  margin: 0 auto;
  width: 100%;
  max-width: 760;
  padding-top: 90px;
}

.title {
  font-size: 42px;
  font-family: Helvetica;
  margin: 6px 0px 0px 0px;
}

.info {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px 25px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar {
  grid-column: 1;
  grid-row: 1 / 2;
  margin: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author {
  grid-row: 1;
  grid-column: 2;
  align: left;
  width: 100%;
  height: 100%;
  color: #999999;
  font-size: 17px;
  font-family: Helvetica;
}

.read_time {
  grid-row: 2;
  grid-column: 2;
  align: left;
  width: 100%;
  height: 100%;
  color: #666666;
  font-size: 15px;
  font-family: Helvetica;
}

/******************************************************************************
 * Content layout
 */

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
}

.content > * {
  grid-column: 4;
}

.content blockquote {
  grid-column: 3 / 5;
  padding-left: 10px;
  border-left: 3px solid black;
  align: left;
  color: #666666;
}
