<!DOCTYPE html>
<html lang="en-US">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div class="page">
      <div class="navigation">
        {%- include navigation.html -%}
      </div>
      <div class="content">
        <article class="article">
          {%- include header.html -%}
          {{- content -}}
          <hr>
        </article>
      </div>
      <div class="article-list">
        {%- include article/list.html -%}
      </div>
      <div class="footer">
        {%- include footer.html -%}
      </div>
    </div>
  </body>
</html>
